@import url("https://use.typekit.net/mew2zma.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    margin-top: 50px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: new-order, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #1d2f6f;
}

#verve-header {
    text-align: center;
}
#verve-header img {
    width: 200px;
}
.lead {
    font-size: 16px;
}

.bold {
    color: #ff5733;
    font-weight: 600;
}
input.form-control {
    border: #1d2f6f 1px solid;
}

.btn {
    font-family: "Open Sans", sans-serif;
    border: #1d2f6f 1px solid;
}
.btn-primary {
    background-color: #1d2f6f;
}
.btn-secondary {
    background-color: #ff5733;
}


.p{
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;

}

.btn-primary:hover {
    background-color: #ff5733;
}

